body{
    background: url("../images/background.png") no-repeat center;
    background-size: cover;
    user-select: none;
    -webkit-user-select: none;
}
button {
    background-color: #4CAF50; 
    outline: none;
    border: none;
    color: white;
    width: 96px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

h1{
    font-family: sans-serif;
    color: rgba(192, 255, 192, 0.8);
    text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

#yes {
	left: 100px; 
	top: 100px;
	position: absolute;
    background-color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(5px);
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 48px;
}
#yes:hover {
    background-color: rgba(0, 140, 186, 0.6);
    backdrop-filter: blur(5px);
    color: white;
}

#no {
    background-color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(5px);
    color: black; 
    border: 2px solid #f44336;
    border-radius: 48px;
}

#no:hover {
    background-color: rgba(244, 67, 54, 0.6);
    backdrop-filter: blur(5px);
    color: white;
}

.main{
    background-color: rgba(45, 45, 45, .35);
    backdrop-filter: blur(5px);
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	border: none;
    border-radius: 6px;
	width: 50%;
	height: 50%;
	margin: auto;
}
